<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>管理员密码重置页面</title>
<link type="text/css" rel="stylesheet" href="./css/reset.css">
<link type="text/css" rel="stylesheet" href="./css/main.css">
<!--[if IE 6]>
<script type="text/javascript" src="../js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="../js/ie6Fixpng.js"></script>
<![endif]-->
</head>

<body>
<div class="headerBar">
	<div class="logoBar login_logo">
		<div class="comWidth">
			<h3 class="welcome_title">管理员密码重置页面</h3>
		</div>
	</div>
</div>

<div class="loginBox">
	<div class="login_cont">
	<form action="resetpasswd.php" method="post">
		<input type="hidden" name="act" value="checkpasswd" />
			<ul class="login">
				<li class="l_tit">密码:</li>
				<li class="mb_10"><input type="password"  name="passWord" class="login_input password_icon"></li>
				<li class="l_tit">确认密码:</li>
				<li class="mb_10"><input type="password"  name="passconfirm" class="login_input password_icon"></li>
				<li><input type="submit" name="submit" value="" class="login_btn"></li>
			</ul>
		</form>
	</div>
</div>

<div class="hr_25"></div>
<div class="footer">
	<p><a href="#">易买网简介</a><i>|</i><a href="#">易买网公告</a><i>|</i> <a href="#">招纳贤士</a><i>|</i><a href="#">联系我们</a><i>|</i>客服热线：400-675-1234</p>
	<p>Copyright &copy; 2006 - 2015 易买网版权所有&nbsp;&nbsp;&nbsp;粤ICP备09037834号&nbsp;&nbsp;&nbsp;粤ICP证B1034-8373号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号：123456789123</p>
	<p class="web"><a href="#"><img src="./images/webLogo.jpg" alt="logo"></a><a href="#"><img src="./images/webLogo.jpg" alt="logo"></a><a href="#"><img src="./images/webLogo.jpg" alt="logo"></a><a href="#"><img src="./images/webLogo.jpg" alt="logo"></a></p>
</div>
</body>
</html>
